body {
    margin: 0;
    // font-family: Arial, Helvetica, sans-serif;
}

.navBar{
    background-color: peru;
}
.navBar a {
    display: flex;
    // float:right;
    text-decoration: none;
    text-align: right;
    color:White;
    margin: auto;
  }

